/**
* You can edit this whole file.
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --gray-0: #000000;
  --gray-1: #222222;
  --gray-2: #dddddd;
  --gray-3: #fbfbfb;
  --gray-4: #ffffff;
  --primary: #8a2be2;
  --secondary: #20d397;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, .15);
}

html {
  font-size: 16px;
  line-height: 1.44;
}


.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  padding: 0 20px;
  height: 60px;
  width: 100vw;
  position: -webkit-sticky;
  top: 0;
  font-size: var(--font-size-3);
}

.nav_items--container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-emphasis:var(--font-size-1);
  color: #ffffff;
  font-weight: bold;
}

.nav_logo img{
  height: 40px;
  margin-right: 15px;
}

.navbar ul{
  display: flex;
  list-style: none;
  height: auto;
}

.navbar ul li{
  display: block;
  height: auto;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 15px;
  margin-bottom: auto;
}

.active{
  border-bottom: #ffffff 2px solid;
}

.navbar ul a{
  color: var(--gray-4);
  text-decoration: none;
  font-weight: bold;
}

header{
  padding: 30px 20px;
}

main{
  display: flex;
  flex-direction: column;
}

.card_container{
  width: 390px;
  height: 330px;  
  border: var(--gray-2  ) 1px solid;
  color: var(--gray-1);
  box-shadow: var(--shadows);
  margin: auto;
  margin-bottom: 30px;
  padding: 0  15px 0 15px;
  position: relative;
}

.card_container h2{
  font-weight: var(--font-weight-heavy);
  font-size: var(--font-size-2);
  margin: 10px 0 10px 0;
}

.card_container p{
  font-size: var(--font-size-3);
  margin-bottom: 15px;
}

.card_container a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  background-color: var(--primary);
  color: #ffffff;
  font-weight: var(--font-weight-thin);
  font-size: var(--font-size-3);
  margin: 15px;
  padding: 5px;
}
.card_container a img{
  height: 15px;
  margin-right: 10px;
}

@media (min-width: 1024px){
  main{
    flex-direction: row;
    justify-content: center;
  }
  .card_container{
    width:  325px;
    min-height: 370px;
    margin:0 10px;
  }

  .nav_items--container{
    width: 984px;
  }
}


@media (min-width: 1440px){
  header{
    padding-left: 265px;
  }
}